div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DARK {
  background: #BC9574;
}

.LIGHT {
  background: #CAAF9C;
}

body {
  display: flex;
}

.toMove {
  background-color: #9D2F29;
}